{
  "sources": [
    { "name": "SourceRandom" }
    { "name": "InputLeak" }
  ],
  "sinks": [
    { "name": "FunctionReturn", "comment": "Any function return value" }
  ],
  "rules": [
    { "name": "Randomness Leak", "code": 1022, "sources": ["SourceRandom"], "sinks": ["FunctionReturn"], "message_format": "Random data reached return in {$function}" },
    { "name": "Input Leak", "code": 1023, "sources": ["InputLeak"], "sinks": ["FunctionReturn"], "message_format": "Random from (input) data reached return in {$function}" },
  ]
}